@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Vo hai</h1>
    <h1 clas ="display-4">Welcome Manh Tran</h1>
    <h1 clas="display-4">Hello everyone</h1>
    <h1 clas="display-4">Welcome Lee Hung</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
